.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
.home-text {
  color: #000000;
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text01 {
  color: var(--dl-color-scheme-lblue);
  margin-right: var(--dl-space-space-twounits);
}
.home-text02 {
  color: var(--dl-color-scheme-lblue);
  margin-right: var(--dl-space-space-twounits);
}
.home-text03 {
  color: var(--dl-color-scheme-lblue);
  margin-right: var(--dl-space-space-twounits);
}
.home-button {
  color: var(--dl-color-scheme-green100);
  background-color: var(--dl-color-scheme-lblue);
}
.home-text04 {
  color: var(--dl-color-scheme-green100);
  background-color: var(--dl-color-scheme-white);
}
.home-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.home-hero {
  height: 506px;
  background-color: var(--dl-color-scheme-lightgreen);
}
.home-max-width1 {
  align-items: center;
}
.home-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-subtitle {
  color: var(--dl-color-scheme-yellow80);
  display: none;
  margin-bottom: var(--dl-space-space-unit);
}
.home-title {
  color: var(--dl-color-scheme-white);
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-description {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-image1 {
  width: 413px;
  height: 415px;
  object-fit: cover;
}
.home-image2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  position: relative;
  padding-bottom: var(--dl-space-space-eightunits);
}
.home-section {
  height: 558px;
  align-items: center;
  justify-content: center;
}
.home-max-width2 {
  width: 877px;
  align-items: stretch;
}
.home-content1 {
  width: 392px;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text11 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text12 {
  width: 405px;
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text13 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-container03 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-image3 {
  width: 210px;
  height: 407px;
  object-fit: cover;
}
.home-section1 {
  height: 611px;
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width3 {
  align-items: stretch;
}
.home-content2 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text14 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text15 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text22 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-content3 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text23 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text24 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text31 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-section2 {
  background-color: var(--dl-color-scheme-orange80);
}
.home-max-width4 {
  align-items: stretch;
}
.home-image4 {
  width: 50%;
}
.home-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 48px;
}
.home-content4 {
  width: 40%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text32 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text33 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-step {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-number {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.home-text34 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.home-container06 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title1 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text35 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.home-step1 {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-number1 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.home-text36 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.home-container07 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title2 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text37 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.home-step2 {
  display: flex;
  flex-direction: row;
}
.home-number2 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-orange100);
}
.home-text38 {
  font-size: 28px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
}
.home-container08 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title3 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text39 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
}
.home-max-width5 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text40 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text41 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-cards-container {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-section4 {
  padding-top: 0px;
}
.home-max-width6 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-f-a-q {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: center;
  margin-bottom: var(--dl-space-space-eightunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-questions {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text44 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text45 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text46 {
  font-family: Urbanist;
}
.home-text48 {
  color: var(--dl-color-scheme-orange100);
  font-family: Urbanist;
}
.home-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text49 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home-icon02 {
  width: 12px;
  height: 12px;
}
.home-ff {
  margin-top: 8px;
}
.home-trigger1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text50 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home-icon04 {
  width: 12px;
  height: 12px;
}
.home-text51 {
  margin-top: 8px;
}
.home-trigger2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text52 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home-icon06 {
  width: 12px;
  height: 12px;
}
.home-text53 {
  margin-top: 8px;
}
.home-trigger3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text54 {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.5;
}
.home-icon08 {
  width: 12px;
  height: 12px;
}
.home-text55 {
  margin-top: 8px;
}
.home-image5 {
  width: 50%;
  object-fit: cover;
  margin-right: -200px;
}
.home-banner {
  width: 100%;
  height: 278px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/group%20115%403x-1200w.png");
}
.home-text56 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text57 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text58 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-button6 {
  font-size: 16px;
  padding-top: 12px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.home-button7 {
  color: var(--dl-color-scheme-yellow80);
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container09 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-title4 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text59 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
@media(max-width: 479px) {
  .home-icon {
    fill: var(--dl-color-scheme-lightgreen);
  }
  .home-hero {
    background-color: var(--dl-color-scheme-lightgreen);
  }
  .home-subtitle {
    color: var(--dl-color-scheme-orange80);
  }
  .home-title {
    color: var(--dl-color-scheme-white);
    font-size: 52px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 600;
    line-height: 1.2;
  }
  .home-description {
    color: var(--dl-color-scheme-white);
    font-size: 18px;
    line-height: 1.5;
  }
  .home-button1 {
    background-color: rgb(146, 159, 239);
  }
  .home-text11 {
    color: var(--dl-color-scheme-yellow80);
  }
  .home-text12 {
    font-size: 42px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 700;
    line-height: 1.25;
  }
  .home-text13 {
    font-size: 16px;
    line-height: 1.5;
  }
  .home-text15 {
    font-size: 42px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 700;
    line-height: 1.25;
  }
  .home-text16 {
    font-family: Urbanist;
  }
  .home-text22 {
    line-height: 1.5;
  }
  .home-text24 {
    font-size: 42px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 700;
    line-height: 1.25;
  }
  .home-text25 {
    font-family: Urbanist;
  }
  .home-text31 {
    line-height: 1.5;
  }
  .home-text49 {
    font-size: 20px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 600;
    line-height: 1.5;
  }
  .home-text50 {
    font-size: 20px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 600;
    line-height: 1.5;
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    border-color: var(--dl-color-scheme-green80);
    border-width: 1px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container09 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .home-container10 {
    width: 149px;
    height: 41px;
  }
  .home-title4 {
    color: var(--dl-color-scheme-lightgreen);
  }
}
